<!DOCTYPE html>
<html lang="en">

<head>
	<title>Word Guess</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link href="./css/gameover.css" rel="stylesheet"> -->
	<link href="./styles/main.css" rel="stylesheet">
</head>

<body>
	<div class="game">
		<h1 class="title">Mystery Word Game</h1>
		<h3 class="guess-display">{{game.displayArray}}</h3>
		<h1 class="end-message">{{game.endMessage}}</h1>
		<a href="./gamerestart" class="button">Play again?</a>
	</div>
</body>

</html>