body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin: 0;
}

main {
  /*width: 600px;*/
  margin: 0 auto;
  /*text-align: center;*/
}
.game {
  position: relative;
  max-width: 700px;
  margin: auto;
  text-align: center;
  padding: 40px 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

form {
  display: block;
  text-align: center;
}

.status-bar {
  display: flex;
  padding: 40px 0;
}
.status-bar p {
  margin: 0;
  width: 50%;
}
.status-bar p.title {
 text-align: left;
}
.status-bar p.guess-count {
  text-align: right;
}

.form-button {
  -webkit-appearance: none;
  background: #0098A6;
  border: 1px solid #0098A6;
  height: 34px;
  border-radius: 2px;
  padding: 0 20px;
  color: #fff;
}

.form-button:hover {
  cursor: pointer;
  background: #068490;
  border: 1px solid #068490;
}

p.message {
  font-size: 16px;
}
p.end-message {
  font-size: 24px;
}

.word-holder {
  /*font-size: 42px;*/
  /*text-align: center;*/
  /*letter-spacing: 3%;*/
}
.guess-display,
.word-display {
  text-align: center;
  font-size: 42px;
}
.form-input {
  height: 32px;
  padding: 0 12px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 2px;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  outline: 0;
}
